* { 
    margin: 0;
    padding: 0;
}
body, html {
    width: 100vw;
    height: 100vh;
    background-color: rgb(240 109 101);
    overflow: hidden;
}
#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#scene {
    width: 480px;
    position: relative;
}

#envelope{
    width: 64px;
    height: 42px;
    background-color: white;
}

.particle{
    position: absolute;
    z-index: -1;
    top: -32px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: white;
}

.delay-50 {
    animation-delay: 50ms;
}

.delay-100 {
    animation-delay: 100ms;
}

.delay-150 {
    animation-delay: 150ms;
}

.delay-200 {
    animation-delay: 200ms;
}

.delay-250 {
    animation-delay: 250ms;
}

.delay-300 {
    animation-delay: 300ms;
}

.delay-350 {
    animation-delay: 350ms;
}

.delay-400 {
    animation-delay: 400ms;
}

.delay-450 {
    animation-delay: 450ms;
}

.delay-500 {
    animation-delay: 500ms;
}

.delay-550 {
    animation-delay: 550ms;
}

.delay-600 {
    animation-delay: 600ms;
}

.bounce {    
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.rotate {
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.slide {
    animation-name: slide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


#shadow {
    width: 64px;
    height: 16px;
    background-color: #28282828;
    border-radius: 75%;
    margin-top: -8px;
    animation-name: shrink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: relative;
    z-index: -1;
}

@keyframes bounce {
    0% { transform: translateY(0px);}
    16% { transform: translateY(-120px);}
    33% { transform: translateY(0px);}
    50% { transform: translateY(-150px);}
    66% { transform: translateY(0px);}
    82% { transform: translateY(-180px);}
    100% { transform: translateY(0px);}
}

@keyframes shrink {
    0% { transform: scale(1);}
    16% { transform: scale(.75);}
    33% { transform: scale(1);}
    50% { transform: scale(.5);}
    66% { transform: scale(1);}
    82% { transform: scale(.25);}
    100% { transform: scale(1);}
}

@keyframes slide {
    0% { transform: translateX(0px);}
    33% { transform: translateX(33%);}
    66% { transform: translateX(66%);}
    100% { transform: translateX(100%);}            
}

@keyframes rotate {
    0% { transform: rotateZ(0deg);}
    100% { transform: rotateZ(720deg);}            
}